<%= form_for(@video) do |f| %>
<% if @video.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

  <ul>
    <% @video.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :typename %>
  <%= f.select(:typename, [["Music Video", "music_video"], ["Commercial", "commercial"],["Film", "film"]]) %>
</div>
<div class="field">
  <%= f.label :url %>
  <%= f.text_field :url, :placeholder => "Video embed URL: http://www.youtube-nocookie.com/embed/<Video ID>" %>
</div>
<div class="field">
  <%= f.label :image_url %>
  <%= f.text_field :image_url, :placeholder => "Link to an image (i.e. http://www.moshemishali.com/logo.jpg)" %>
</div>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Name of the video" %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, :rows => "5", :placeholder => "The line below the video (i.e. 'Directed by...')" %>
</div>
<div class="actions">
  <%= f.submit "Create", :id => "save" %>
</div>
<% end %>