<head>
  <%= stylesheet_link_tag    "video_admin", :media => "all" %>
</head>
<body>
  <table class="index_table">
    <%= render :partial => "index_item", :locals => {:part => "header"} %>

    <% @videos.each do |video| %>
    <%= render :partial => "index_item", :locals => {:part => "data", :video => video} %>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Video', new_video_path %>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script><%= render :file => "../assets/javascripts/videos/index", :formats => [:js] %></script>
</body>