<table class="preview-table">
    <tr>
        <td>
            <div class="dirbutton" onmouseover="scroll('down');" onmouseout="scroll('stop');">&#8593;</div><br>
            <marquee id="mrq" behaviour="scroll" direction="up" scrollamount="0" position="50" height="250" vspace="0">
                <table>
                    <% Video.by_type("commercial").each do |com| %>
                    <tr colspan="2">
                        <td>
                            <img class="video_thumbnail" typename="<%= com.typename %>" title="<%= com.title %>" src="<%= asset_path com.image_url %>" data_url="<%= com.url %>" />
                        </td>
                        <td>
                            <b><%= com.title %></b><br>
                            <%= raw com.description.to_s.gsub(";","<br>") %><br>
                        </td>
                    </tr>
                    
                    <% end %>
                </table>
            </marquee><br><br>
            <div class="dirbutton" onmouseover="scroll('up');" onmouseout="scroll('stop');">&#8595;</div>
        </td>
        <td>
            <div id="frameDisplay" class="vidframe commercial">
                <br><br><br><br>
                Click on the left side of this page to show a video
            </div>
        </td>
    </tr>
</table>