<div class="pageheader">Commercial</div>
<div class="video-gallery">
    <div class="jqueryslider manual vertical" id="slider_com">
        <% Video.by_type("commercial").each do |com| %>
        <div class="slider_single">
            <img class="video_thumbnail" typename="<%= com.typename %>" title="<%= com.title %>" src="<%= asset_path com.image_url %>" data_url="<%= com.url %>" />
            <div class="info">
                <b><%= com.title.gsub("&quot;","'") %></b><br>
                <%= raw com.description.to_s.gsub("&quot;","'").gsub(";","<br>") %>
            </div>
        </div>
        <% end %>                
    </div>
    <div class="vidframe commercial">
        <span class="inst_vidframe">Click on the left side of this page to show a video</span>
    </div>
</div>