<div id="films" class="doctext" style="height: 270px;">
	<% Video.by_type("film").each do |f| %>
	<a class="filmthumb" title="<%= f.title %>" data_url="<%= f.url %>" href="javascript:void(0);">
		<img title="<%= f.title %>" src="<%= asset_path f.image_url %>" /> 
		<span class="syn" style="display:none;">
			<%= raw f.synopsis.to_s.gsub("&quot;","'").gsub(";","<br>") %><br>
		</span>
		<span class="desc" style="display:none;"><%= raw f.description.to_s.gsub(";","<br>") %><br></span>
	</a>
	<% end %>
</div>