<div class="preview-table">
    <div class="jqueryslider" id="slider_mv">
        <% Video.by_type("music_video").each do |mv| %>
        <div class="slider_single">
            <img class="video_thumbnail" typename="<%= mv.typename %>" title="<%= mv.title %>" src="<%= asset_path mv.image_url %>" data_url="<%= mv.url %>" />
            <div class="info">
                <b><%= mv.title.gsub("&quot;","'") %></b><br>
                <%= raw mv.description.to_s.gsub("&quot;","'").gsub(";","<br>") %>
            </div>
        </div>
        <% end %>                
    </div>
    <div id="frameDisplay" class="vidframe music_video">
        <br><br><br><br>
        Click on the left side of this page to show a video
    </div>
</div>