<ul class="slider">
	<li><img src="<%= asset_path "slider/kamera.jpg" %>" /></li>
	<li><img src="<%= asset_path "slider/kamera.jpg" %>" /></li>
	<li><img src="<%= asset_path "slider/kamera.jpg" %>" /></li>
	<li><img src="<%= asset_path "slider/kamera.jpg" %>" /></li>
	<li><img src="<%= asset_path "slider/kamera.jpg" %>" /></li>
</ul>