<ul class="slider">
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/1.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/2.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/3.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/4.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/5.jpg" %>" /></a></li>
	<li><a goto="films" title="Martha Must Fly" href="javascript:void(0);"><img src="<%= asset_path "slider/6.jpg" %>" /></a></li>
	<li><a goto="films" title="Martha Must Fly" href="javascript:void(0);"><img src="<%= asset_path "slider/7.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/8.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/9.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/10.jpg" %>" /></a></li>
	<li><a goto="films" title="Paul" href="javascript:void(0);"><img src="<%= asset_path "slider/11.jpg" %>" /></a></li>
	<li><a goto="films" title="Batman at the Checkpoint" href="javascript:void(0);"><img src="<%= asset_path "slider/12.jpg" %>" /></a></li>
	<li><a goto="films" title="Shadow Puppets" href="javascript:void(0);"><img src="<%= asset_path "slider/13.jpg" %>" /></a></li>
	<li><a goto="films" title="Shadow Puppets" href="javascript:void(0);"><img src="<%= asset_path "slider/14.jpg" %>" /></a></li>
	<li><a goto="films" title="Shadow Puppets" href="javascript:void(0);"><img src="<%= asset_path "slider/15.jpg" %>" /></a></li>
	<li><a goto="films" title="Batman at the Checkpoint" href="javascript:void(0);"><img src="<%= asset_path "slider/21.jpg" %>" /></a></li>
	<li><a goto="films" title="Batman at the Checkpoint" href="javascript:void(0);"><img src="<%= asset_path "slider/22.jpg" %>" /></a></li>
	<li><a goto="films" title="Batman at the Checkpoint" href="javascript:void(0);"><img src="<%= asset_path "slider/23.jpg" %>" /></a></li>
	<li><a goto="films" title="Batman at the Checkpoint" href="javascript:void(0);"><img src="<%= asset_path "slider/24.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/33.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/40.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/153.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/154.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/155.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/int-day-sad.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/int-day-sigalit.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/int-night-noga.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/int-night-sad.jpg" %>" /></a></li>
</ul>