<ul class="slider">
	<li><a goto="musicvideos" title="Halomot Ra'im (Bad Dreams)" href="javascript:void(0);"><img src="<%= asset_path "slider/1.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/5.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/6.jpg" %>" /></a></li>
	<li><a goto="films" title="Martha Must Fly" href="javascript:void(0);"><img src="<%= asset_path "slider/7.jpg" %>" /></a></li>
	<li><a goto="films" title="Paul" href="javascript:void(0);"><img src="<%= asset_path "slider/paul_street.jpg" %>" /></a></li>
</ul>