<ul class="slider">
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/1.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/2.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/3.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/4.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/5.jpg" %>" /></a></li>
	<li><a goto="films" title="Martha Must Fly" href="javascript:void(0);"><img src="<%= asset_path "slider/6.jpg" %>" /></a></li>
	<li><a goto="films" title="Martha Must Fly" href="javascript:void(0);"><img src="<%= asset_path "slider/7.jpg" %>" /></a></li>
	<li><a goto="films" title="In Bed at 10pm" href="javascript:void(0);"><img src="<%= asset_path "slider/8.jpg" %>" /></a></li>
	<li><a goto="films" title="Zipper" href="javascript:void(0);"><img src="<%= asset_path "slider/9.jpg" %>" /></a></li>
	<li><a goto="films" title="Private Rooms" href="javascript:void(0);"><img src="<%= asset_path "slider/10.jpg" %>" /></a></li>
	<li><a goto="films" title="Paul" href="javascript:void(0);"><img src="<%= asset_path "slider/11.jpg" %>" /></a></li>
</ul>