<div class="section" id="home"><%= render :partial => "home" %></div>
<div style="display:none;" class="section" id="commercial"><%= render :partial => "commercial" %></div>
<div style="display:none;" class="section" id="contact"><%= render :partial => "contact" %></div>
<div style="display:none;" class="section" id="filmography"><%= render :partial => "filmography" %></div>
<div style="display:none;" class="section" id="films"><%= render :partial => "films" %></div>
<div style="display:none;" class="section" id="musicvideos"><%= render :partial => "musicvideos" %></div>