<div class="section" id="welcome"><%= render :partial => "welcome" %></div>
<div style="display:none;" class="section" id="about"><%= render :partial => "about" %></div>
<div style="display:none;" class="section" id="commercial"><%= render :partial => "commercial" %></div>
<div style="display:none;" class="section" id="filmography"><%= render :partial => "filmography" %></div>
<div style="display:none;" class="section" id="films"><%= render :partial => "films" %></div>
<div style="display:none;" class="section" id="musicvideos"><%= render :partial => "musicvideos" %></div>