function OnLoad() {
 loadImages();
}
//***************************************************  Modal Dialog ****************************************************
function openModal(modal, modalContent, content, width, height) {
 var mdlCntnt = $("#" + modal + " span");
 if (mdlCntnt && mdlCntnt.length > 0) {
   mdlCntnt[0].innerHTML = content;
   sm(modal, width, height);
 }
}
function openMovieDetailModal(title, details, vidlink, synopsis) {
 var pageHTML = '' +
 '<div id="title" class="mdlTitle">' + title + '</div>' +
 '<div id="description" class="mdlDesc">' + details + '</div>' +
 '<table>' +
 '<tr>' +
 '<td id="vidout" style="vertical-align: top; text-align: justify; width: 560px; height: 315px;padding-right: 10px;">' +
 '<iframe id="vid" width="560" height="315" src="' + vidlink + '?modestbranding=1&amp;title=&amp;autohide=1&amp;showinfo=0&amp;hd=1" frameborder="0"></iframe>' +
 '</td>' +
 '<td class="descCell">' + synopsis + '</td>' +
 '</tr>' +
 '</table>';
 var width = title.match('Martha') ? 970 : 950;
 var height = title.match('Martha') ? 450 : 400;
 openModal('box', 'modalContent', pageHTML, width, height);
 $('#vid') ? $('#vid').style.visibility = "visible" : '';
}
//***************************************************  Special FX  ****************************************************
function scroll(dir, spd) {
 var scrl = $('#mrq');
 if (scrl) {
   if (dir === 'up' || dir === 'down') {
     scrl.direction = dir;
     scrl.scrollAmount =  spd ? spd : 10;
   }
   else {
     scrl.scrollAmount = spd ? spd : 0;
   }
 }
}
//***************************************************  Image handlers **************************************************
function renderImage(id, filename, altText) {
 return '<img id="' + id + '" width=240 height=240 src="' + ((filename.match('.gif') != null) ? 'Animated/' : '') + fileName + '" alt="' + altText + '" />';
}
function loadButtonImages() {
 var images = [
     // "<%= asset_path 'Buttons/about.jpg' %>", 
     // "<%= asset_path 'Buttons/resume.jpg' %>", 
     "<%= asset_path 'Buttons/films.jpg' %>", 
     "<%= asset_path 'Buttons/commercial.jpg' %>", 
     "<%= asset_path 'Buttons/musicvideos.jpg' %>", 
     "<%= asset_path 'Buttons/contact.jpg' %>", 
     "<%= asset_path 'Buttons/stills.jpg' %>"
     ];
     var pressedImages = [
     // "<%= asset_path 'Buttons/about_pressed.jpg' %>", 
     // "<%= asset_path 'Buttons/resume_pressed.jpg' %>", 
     "<%= asset_path 'Buttons/films_pressed.jpg' %>", 
     "<%= asset_path 'Buttons/commercial_pressed.jpg' %>", 
     "<%= asset_path 'Buttons/musicvideos_pressed.jpg' %>", 
     "<%= asset_path 'Buttons/contact_pressed.jpg' %>", 
     "<%= asset_path 'Buttons/stills_pressed.jpg' %>"
     ];
     var width = Math.floor(window.screen.availWidth / images.length);
     for (var i = 0; i < images.length; i++) {
       pic = new Image(width, width / 4);
       pic.src = images[i];
       pic = new Image(width, width / 4);
       pic.src = pressedImages[i];
     }
   }
   function loadRegularImages() {
     var images = ["<%= asset_path 'Animated/wait.gif' %>", "<%= asset_path 'Posters/films/privaterooms.jpg' %>"];
     for (var i = 0; i < images.length; i++) {
       var src = images[i];
       pic = new Image(100, 25);
       pic.src = src;
     }
   }
   function loadImages() {
     loadButtonImages();
     loadRegularImages();
   }