<table id="buttonTable" class="buttonmenu">
    <tr colspan="7">
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="home" src="<%= asset_path 'Buttons/home.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="filmography" src="<%= asset_path 'Buttons/filmography.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="films" src="<%= asset_path 'Buttons/films.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="commercial" src="<%= asset_path 'Buttons/commercial.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="musicvideos" src="<%= asset_path 'Buttons/musicvideos.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="stills" src="<%= asset_path 'Buttons/stills.jpg' %>" />
            </a>
        </td>
        <td>
            <a class="menubutton" href="javascript:void(0);">
                <img id="contact" src="<%= asset_path 'Buttons/contact.jpg' %>" />
            </a>
        </td>
    </tr>
</table>
<!-- <div style="float: right; padding-right: 1%;">
    <a name="fb_share" type="button" share_url="http://www.moshemishali.com">Share on Facebook</a>
</div> -->