<table id="buttonTable" class="buttonmenu">
    <tr colspan="7">
        <td><img alt='OOPS! no pic' id="home" src="<%= asset_path 'Buttons/home.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="filmography" src="<%= asset_path 'Buttons/filmography.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="films" src="<%= asset_path 'Buttons/films.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="commercial" src="<%= asset_path 'Buttons/commercial.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="musicvideos" src="<%= asset_path 'Buttons/musicvideos.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="stills" src="<%= asset_path 'Buttons/stills.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
        <td><img alt='OOPS! no pic' id="contact" src="<%= asset_path 'Buttons/contact.jpg' %>" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
    </tr>
</table>
<div style="float: right; padding-right: 1%;">
    <a name="fb_share" type="button" share_url="http://www.moshemishali.com">Share on Facebook</a>
</div>