<!DOCTYPE html>
<html>
<head>
	<!-- Scripts -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<!-- APIs -->
	<!--<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>-->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!-- META Content -->
	<title>Moshe Mishali - Director of Photography</title>
	<meta property="og:url" content="http://www.moshemishali.com" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="director" />
	<meta property="og:title" content="Moshe Mishali - Director of Photography" /> 
	<meta property="og:description" content="Moshe Mishali's reel - films, commercials and music videos." /> 
	<meta property="og:image" content="http://www.moshemishali.com/Images/face.jpg" />
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header"><%= render :partial => "layouts/header" %></div>
	<div id="main"><%= yield %></div>
	<div id="footer"><%= render :partial => "layouts/footer" %></div>
</body>
</html>
