<!DOCTYPE html>
<html>
<head>
	<!-- Scripts -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
	<%= javascript_include_tag "application" %>
	<!-- META Content -->
	<title>Moshe Mishali - Director of Photography</title>
	<meta property="og:url" content="http://www.moshemishali.com" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="director" />
	<meta property="og:title" content="Moshe Mishali - Director of Photography" /> 
	<meta property="og:description" content="Moshe Mishali's reel - films, commercials and music videos." /> 
	<meta property="og:image" content="<%= asset_path 'reel_16.png' %>" />
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<div class="fb-like" data-href="http://moshemishali.herokuapp.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
	<div id="header"><%= render :partial => "layouts/header" %></div>
	<div id="main"><%= yield %></div>
	<div id="footer"><%= render :partial => "layouts/footer" %></div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script type="text/javascript">
	<%= render :file => "../assets/async/videobox", :formats => [:js] %>
	</script>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=361430587300381";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
