<!DOCTYPE html>
<html>
<head>
	<!-- Scripts -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
	<%= javascript_include_tag "application" %>
	<!-- META Content -->
	<title>Moshe Mishali - Director of Photography</title>
	<meta property="og:url" content="http://www.moshemishali.com" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="director" />
	<meta property="og:title" content="Moshe Mishali - Director of Photography" /> 
	<meta property="og:description" content="Moshe Mishali's reel - films, commercials and music videos." /> 
	<meta property="og:image" content="<%= asset_path 'face.jpg' %>" />
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header"><%= render :partial => "layouts/header" %></div>
	<div id="main"><%= yield %></div>
	<div id="footer"><%= render :partial => "layouts/footer" %></div>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.4"></script>
	<script type="text/javascript">
	<%= render :file => "../assets/async/videobox", :formats => [:js] %>
	</script>
</body>
</html>
